.welcome{
    
   /* top: 50%; */
   /* bottom: 50%; */
  justify-self: center;
  align-self: center;
  }




.luckypage{ 
   
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 66vh 33vh;
  grid-template-columns: 100vw;
}

.luckybutton{
  width: 50%;
}

.luckybutton:hover{
  transform: scale(1.25)
}

