header{
    background-color: gray;
    height: 15vw;
    width: 100vw;
    border: 0px;
    display: grid;
    grid-template-columns: 40vw 20vw 10vw 10vw 10vw;
   
}

body{
    background-color: white;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.profile-photo{
    height: 100%;
    grid-column-start: 2;
    justify-content: center;
    margin: 5px;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:hover{
    color: black;
}

.toprow{
    height: 10vh;
    display: grid;
    grid-template-columns: 10vw 60vw 30vw
}

.toptext{
    grid-column-start: 2;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    justify-self: center;
    align-self: center;
    font-size: 5vh;
    }

.name-header{
    font-size: 5vh;
    color:white;
    margin-left: 15%;
    align-self: center;
}
.skills{
    grid-column-start: 3;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    justify-self: center;
    align-self: center;
    font-size: 5vh;
}

.content{
    display: grid;
    grid-template-columns: 10vw 60vw 30vw;
    grid-template-rows: 20vh 80vh;
    background-color: lightgrey;
    border: 10px white;
    justify-content: center;

}

.contenttext{
    grid-column-start: 2;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    justify-self: center;
    align-self: center;
}

.skillslist{
    grid-column-start: 3;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    justify-self: center;
    align-self: center;
}

.link-contact{
    grid-column-start: 5;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    justify-self: center;
    align-self: center;
    

}

.link-projects{
    grid-column-start: 4;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    justify-self: center;
    align-self: center; 
}

.link-about{
    grid-column-start: 3;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    justify-self: center;
    align-self: center; 
    
}


